@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0,
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: .52734375em;
    margin-left: 150px;
    margin-top: 3px;
    height: 11px
  }
  .style1 {
    font-size: .3515625em;
    margin-left: 11px;
    margin-top: 10px;
    height: 9px
  }
  .style3 {
    margin-left: 3px;
    margin-top: 4px;
    width: 368px;
    height: 70px
  }
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: .3515625em;
    margin-left: 11px;
    margin-top: 16px;
    height: 9px
  }
  .style4 {
    margin-left: 3px;
    margin-top: 0;
    width: 368px;
    height: 77px
  }
  .style5,
  .style6 {
    margin-left: 3px;
    margin-top: 4px;
    width: 367px;
    height: 232px
  }
  .style6 {
    height: 78px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0,
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: 1.08em;
    margin-left: 307px;
    margin-top: 6px;
    height: 22px
  }
  .style1 {
    font-size: .72em;
    margin-left: 22px;
    margin-top: 21px;
    height: 19px
  }
  .style3 {
    margin-left: 7px;
    margin-top: 8px;
    width: 755px;
    height: 143px
  }
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: .72em;
    margin-left: 22px;
    margin-top: 33px;
    height: 19px
  }
  .style4 {
    margin-left: 7px;
    margin-top: 0;
    width: 755px;
    height: 158px
  }
  .style5,
  .style6 {
    margin-left: 7px;
    margin-top: 8px;
    width: 752px;
    height: 474px
  }
  .style6 {
    width: 751px;
    height: 161px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0,
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: 1.2937500000000002em;
    margin-left: 367px;
    margin-top: 8px;
    height: 26px
  }
  .style1 {
    font-size: .8625em;
    margin-left: 27px;
    margin-top: 25px;
    height: 22px
  }
  .style3 {
    margin-left: 8px;
    margin-top: 10px;
    width: 904px;
    height: 172px
  }
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: .8625em;
    margin-left: 27px;
    margin-top: 39px;
    height: 22px
  }
  .style4 {
    margin-left: 8px;
    margin-top: 0;
    width: 904px;
    height: 189px
  }
  .style5,
  .style6 {
    margin-left: 8px;
    margin-top: 10px;
    width: 901px;
    height: 568px
  }
  .style6 {
    width: 900px;
    height: 192px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0,
  .style1 {
    font-family: BalsamiqSans,serif;
    font-size: 1.6875em;
    margin-left: 479px;
    margin-top: 10px;
    height: 34px
  }
  .style1 {
    font-size: 1.125em;
    margin-left: 35px;
    margin-top: 33px;
    height: 29px
  }
  .style3 {
    margin-left: 11px;
    margin-top: 13px;
    width: 1179px;
    height: 224px
  }
  .style2 {
    font-family: BalsamiqSans,serif;
    font-size: 1.125em;
    margin-left: 35px;
    margin-top: 51px;
    height: 29px
  }
  .style4,
  .style5,
  .style6 {
    margin-left: 11px;
    margin-top: 0;
    width: 1179px;
    height: 247px
  }
  .style5,
  .style6 {
    margin-top: 13px;
    width: 1175px;
    height: 741px
  }
  .style6 {
    width: 1174px;
    height: 251px
  }
}